/* AlertModal.css */

.alert-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 197, 96, 0.5); /* Naranja semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert-modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.alert-header {
  background: #ffc560; /* Naranja sólido */
  padding: 10px;
  border-radius: 8px 8px 0 0;
  text-align: center;
}

.alert-title {
  color: white;
  font-size: 1.2em;
  margin: 0;
}

.alert-content {
  text-align: center;
  margin-top: 10px;
}

/* Estilo del botón */
.btn-success {
  background-color: #28a745; /* Verde Bootstrap */
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
}

.btn-success:hover {
  background-color: #218838; /* Verde más oscuro al pasar el ratón */
}
