/* Estilos Generales */
.h6 {
  text-align: center;
}

.carousel-margin {
  margin-left: 15%; /* Ajuste proporcional del margen */
  margin-right: 15%;
}

.experiencia {
  font-family: 'Heebo', sans-serif;
  text-align: center;
}

.red-text {
  color: red;
}

.naranja-text {
  color: #FF7900;
}

/* Estilos de la Tarjeta */
.card {
  height: 400px; /* Ajusta esta altura según sea necesario */
}

.card-img-top {
  padding: 5px;
  max-width: 100%; /* Ajuste del ancho máximo */
  max-height: 80%; /* Ajuste de la altura máxima */
  margin: auto; /* Centra la imagen horizontalmente */
  display: block; /* Evita espacios en blanco debajo de la imagen */
  object-fit: cover; /* Ajusta la imagen dentro del contenedor manteniendo su relación de aspecto */
}

.card-body {
  text-align: center;
}

/* Estilos del Contenedor Circular */
.rounded-circle-container {
  background-color: rgba(194, 191, 184, 0.38);
  border: 2px solid #FF7900;
  border-radius: 100%;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Asegura que las imágenes se recorten dentro del círculo */
  margin: auto; /* Centra el contenedor circular */
}

.rounded-circle-container img {
  width: 90%; /* Ajusta el tamaño de la imagen al 90% del contenedor */
  height: auto;
  object-fit: cover; /* Asegura que las imágenes se ajusten correctamente dentro del contenedor */
}

/* Estilos de Contenedores */
.cont {
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
}

.marcas-cel {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Permite que los elementos se ajusten a varias líneas si es necesario */
}

.marca-name {
  text-align: center;
  margin-top: 5px; /* Espacio entre la imagen y el nombre de la marca */
  color: black;
}

/* Estilos de Bienvenida */

/* Fondo Gris */
.gray-background {
  background-color: #F2F2F2;
  padding: 20px;
}

.info-section {
  padding: 10px 8%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh; /* Ajusta la altura según sea necesario */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.info-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.spline-container {
  width: 100%;
  height: 500px; /* Ajusta la altura según sea necesario */
  background: linear-gradient(135deg, #ffffff, #ffffff); /* Fondo bonito */
  border-radius: 10px; /* Bordes redondeados */
  display: flex;
  justify-content: center;
  align-items: center;
}

.spline-container canvas {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.info-text h1 {
  color: #FF7900;
  margin-bottom: 20px;
  font-family: 'Heebo', sans-serif;
  animation: slideInLeft 1s ease;
}

.info-text p {
  font-size: 18px;
  color: #000000;
  animation: slideInRight 1s ease;
  margin-bottom: 20px;
  font-family: 'Heebo', sans-serif;
}

.info-text .btn-primary {
  background-color: #FF7900;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'Heebo', sans-serif;
}

.btn-primary {
  background-color: #ff7900;
  border-color: #ff7900;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-color: #ff9e54;
  border-color: #ff9e54;
}

.info-image img {
  border-radius: 10px;
}
