.main-container {
    padding: 0 50px; /* Añade un espacio a los lados izquierdo y derecho */
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel-container {
    flex: 1;
    max-width: 90%; /* Ajusta este valor según sea necesario */
}

.carousel.slide {
    width: 100%;
}

.rounded-circle-container {
    width: 100px; /* Ajusta el tamaño según sea necesario */
    height: 100px; /* Ajusta el tamaño según sea necesario */
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rounded-circle-container img {
    width: 100%;
    height: auto;
}

.marca-name {
    text-align: center;
    margin-top: 10px;
}

.products {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
}

.container-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    text-align: center; /* Centrar el texto */
}

.item:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.item figure {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
}

.item img {
    max-width: 70%;
    max-height: 70%;
    object-fit: contain; /* Ajusta la imagen dentro del contenedor sin recortarla */
    transition: all 0.5s;
}

.item:hover img {
    transform: scale(1.2);
}

.info-product {
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center; /* Centrar el contenido del texto */
    color: #000;
}

.price {
    font-size: 18px;
    font-weight: 700;
    color: red;
}

.info-product button {
    border: none;
    background-color: #007bff; /* Cambiar el color de fondo */
    color: #fff;
    padding: 10px 20px; /* Ajustar el espacio interno */
    cursor: pointer;
    border-radius: 10px; /* Bordes redondeados */
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Transición suave para el hover */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Añadir sombra */
    margin: 3px 0; /* Espacio entre los botones */
}

.info-product button:hover {
    background-color: #0056b3; /* Color de fondo al pasar el ratón */
    transform: translateY(-2px); /* Pequeño efecto de elevación */
}

/* Estilos específicos para cada botón si es necesario */
.info-product .add-to-cart {
    background-color: #949494; /* Color verde para "Añadir al carrito" */
}

.info-product .add-to-cart:hover {
    background-color: #6e6e6e; /* Color verde oscuro al pasar el ratón */
}

.info-product .credit {
    background-color: #949494; /* Color azul para "Crédito" */
}

.info-product .credit:hover {
    background-color: #6e6e6e; /* Color azul oscuro al pasar el ratón */
}

.cart-empty {
    padding: 20px;
    text-align: center;
}

.hidden {
    display: none;
}

.btn-clear-all {
    border: none;
    background-color: #000;
    color: #fff;
    padding: 15px 0;
    display: block;
    width: 100%;
    margin-top: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: inherit;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
}

.btn-clear-all:hover {
    background-color: #333;
    transform: scale(1.03);
    border-radius: 0;
}

.carousel-container {
    border-radius: 10px; /* Redondea los bordes del contenedor */
}

/* Separar el carrusel del encabezado sin moverlo */
.carousel-container {
    margin-top: 20px; /* Ajusta este valor según sea necesario */
}

.custom-carousel {
    border-radius: 15px; /* Redondea los bordes del carrusel */
}

.carousel-inner {
    border-radius: 15px; /* Redondea los bordes del contenido del carrusel */
}
