.padre {
display: flex;
align-items: center;
height: 100%;
}
.tamaño-imagen {
width: 80%;
height: 700px;
margin-top: 80xp;
}
.estilo-profile{
    border-radius: 50%;
    height: 120px;
    width: 120px;
    margin: 0 auto;
    margin-top: 20xp;
    margin-bottom: 20xp;
}
.cajatexto{
    background-color: #cccccc40;
    border-color: slategray;
    border-radius: 30px;
    width: 100%;
    padding: 15px;
    border-width: 0px ;
    margin-bottom: 20px;
}
.cajatexto:focus{
    outline: 1px solid chocolate;
    box-shadow: 0 0 18px chocolate;
}
.btnlog{
    background-color: rgb(27, 55, 209);
    border-color: slategray;
    border-radius: 30px;
    width: 100%;
    padding: 15px;
    border-width: 0px ;
    margin-bottom: 20px;
    color: white;
}
.texto{
    font-size: 20px;
    color: slategray;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
}
.btnabajo{
    background-color: darkblue;
    border-radius:30px ;
    padding: 8px;
    border-width: 0px;
    color: white;
    font-size: 16px;
}



